// VARIABLES
$gray: #4E5150;
$light-gray: #828282;

h1 {
    color: $gray;
}

// FORMS
.formularios {
    position: relative;

    input[type="text"], input[type="email"], #country {
        width: 100%;
        border-radius: 12px;
        border: 1px solid #828282;
        margin-top: 3px;
        padding: 10px 40px;
    
        &:focus {
            outline: none;
        }
    }

    input[name="fullname"]::placeholder {
        color: $gray;
        font-weight: bold;
    }

    label {
        color: $gray;
        font-weight: 500;
    }
}

.email-icon {
    color: $light-gray;
    position: absolute;
    left: 10px;
    top: 38px;
}

.phone-icon {
    color: $light-gray;
    position: absolute;
    left: 10px;
    top: 38px;
}

.email-account {
    color: $light-gray;
    position: absolute;
    left: 10px;
    top: 38px;
}

.public-icon {
    color: $light-gray;
    position: absolute;
    left: 22px;
    top: 38px;
}

.city-icon {
    color: $light-gray;
    position: absolute;
    left: 22px;
    top: 38px;
}

.btn-continue {
    float: right;
    background: #F2994A;
    color: white;
    width: 160px;
    height: 50px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    transition: all .3s;

    &:hover {
        background: #f5a45d;
    }
}

// SECOND PART
.w-100 {
    border-radius: 12px;
    background: #F2F2F2;
}

.carrito {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 16px;

    img {
        width: 100%;
        border-radius: 12px;
    }

    h5 {
        color: $gray;
    }

    .precio {
        color: #F2994A;
        font-weight: bold;
        font-size: 26px;
    }

    .precio_original {
        color: $gray;
        margin-left: 5px;
        font-size: 19px;
        font-weight: 500;
        text-decoration: line-through;
    }

    .contador {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        border: 1px solid #828282;
        border-radius: 12px;
        padding: 10px 5px;
        margin-top: 30%;
        width: 70%;
        height: 52px;
        
        .items {
            color: #333;
            font-weight: bold;
        }

        .material-icons {
            color: $gray;
            border-radius: 5px;
            background: #E0E0E0;
            cursor: pointer;
            animation: all .5s;

            &:hover {
                background-color: #dadada;
            }
        }
    }
}

.shipping, .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #BDBDBD;
    padding-top: 10px;

    span {
        color: #333;
        font-weight: bold;
    }
}

.shipping {
    border-top: 1px solid #BDBDBD;
    margin-top: 82px;
    margin-bottom: 7px;
}

@media (max-width: 768px) {
    #order-1 {
        order: 2;
    }

    #order-2 {
        order: 1;
    }
}